{{#each erros}}



<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <i class="fas fa-exclamation-circle"></i>
    {{texto}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{{else}}

{{/each}}


<h3 style="text-align:center" class="mb-3">Adicionar Categorias </h3>
<div class="card">
    <div class="card-body">

        <form action="/admin/categorias/nova" method="POST">

            <label for="nome"><b>Nome:</b></label>
            <input type="text" placeholder="Digite o nome" id="nome" name="nome" class="form-control mb-2">

            <label for="slug"><b>Slug:</b></label>
            <input type="text" placeholder="Digite o slug" id="slug" name="slug" class="form-control">
            </br>
            <button class="btn btn-success" type="submit">Criar categoria <i
                    class="far fa-plus-square ml-1"></i></button>

            <a href="/admin/categorias">
                <div class="btn btn-danger" style="display: inline-block;">Cancelar <i class="fas fa-times"></i>
                </div>
            </a>

        </form>

    </div>



</div>