<nav class="navbar  navbar-light   " style="background-color: #1A91DA">

    <a class="navbar-brand" href="/" style="color: white;">
        <img src="/img/foto.png" width="30" height="30" class="d-inline-block align-top" alt="">
        BlogApp
    </a>



    <form class="form-inline">
        <input style="width: 50%;" class="form-control mr-sm-2" type="search" placeholder="Pesquisar"
            aria-label="Pesquisar">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
</nav>